* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(199, 196, 196);
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 75, 78);
    box-shadow: 0 5px 35px rgb(75, 75, 78);
}

header h1 {
    color: rgb(75, 75, 78);
    background-color: cyan;
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: cyan;
    margin-right: 10px;
    background-size: 100% 0.2em;
    background-position: bottom;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.banner {
    background-size: cover;
    background-image: url(./images/gradienta-QWutu2BRpOs-unsplash.jpg);
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-left: 10vw;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    
}

.banner img {
    width: 150px;
    margin: 20px;
    border-radius: 10%;
    opacity: 0;
}

.banner h2 {
    background-color: cyan;
    margin: 0;
    padding: 5px 10px;
    line-height: 1.2;
    display: inline;
}

.main-page {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.section1{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section1 h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(75, 75, 78);
    line-height: 1.1;
}

.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150px, 1fr);
}


    
   
    













